/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  margin: 0;
  padding: 0;
}

.__Toast__ {
  position: fixed;
  bottom: 10vh;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 10px;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 8px;
  opacity: 0;
  animation: fade 0.5s ease-in-out;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.app {
  -webkit-app-region: drag;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  height: 100vh;
  color: white;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
}

.app *:not(div) {
  -webkit-app-region: no-drag;
}

input {
  background-color: white;
  padding: 10px 20px;
  width: 100%;
  border-radius: 8px;
  border: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  opacity: 0.9;
}

button {
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button.copy {
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 1rem;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}
